@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color:#000;
  color:#fff;
}
header {
  height: 200px;
}